.game-card {
    position: relative;
    height: 100px;
    width: 100px;
    display: block;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); 
}

p {
    background-color: black;
    color: aliceblue;
}


.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.19s ease;
}

.Contact-icon {
    width: 30px;
    height: 30px;
    background: black;
    padding: 0px 50px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;    
}

.Contact-itch {
    width: 30px;
    height: 30px;
    background: rgb(245, 93, 93);
    padding: 0px 50px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgb(255, 123, 123);
    justify-content: center;
    align-items: center;   
}

.gmail {
    text-decoration: none;

}
.game-card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}

.game-card h3 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.game-card :hover img {
    filter: brightness(70%);
}

.game-card :hover .overlay {
    opacity: 1;
}